html {
  background-color: rgba(207, 206, 206, 0.651);
}
#map {
  height: 600px;
  width: 800px;
  border-radius: 5px;
  border-color: rgba(128, 128, 128, 0.651);
  border-style: inset;
  border-width: 1px;
  margin: 5px;
  float: right;
}
#result {
  float: left;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
#name {
  float: left;
  margin-left: 30px;
  margin-top: 10px;
}
body > div.ui-loader.ui-corner-all.ui-body-a.ui-loader-default{
  display: none;
}
button {
  width: 150px;
  height: 30px;
  font-weight: bold;
 
}
#myText {
  width: 250px;
  height: 25px;
  font-size: 16px;
}
#radius {
  width: 250px;
  height: 25px;
  font-size: 16px;
}
.warnval {
  color: red;
}